<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arvadis Electronics Database</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/customers">Customers</a></td>
            <td><a href="/products">Products</a></td>
            <td><a href="/sales">Sales</a></td>
            <td><a href="/employees">Employees</a></td>
            <td><a href="/sales_products">Sales_Products Management</a></td>
        </tr>
    </table>
    
    <h1>Welcome Admin to Arvadis Database System</h1>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>

</body>
</html>
